@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیر مجاز";
}
<br class="my-3" />
<header class="text-right">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">شما دسترسی لازم برای ورود به این صفحه را ندارید.</p>
</header>
