@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<div class="row">
    <div class="col-md-4 text-right">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-inline text-right">
                <input asp-for="Input.Email" class="form-control text-left" placeholder="ایمیل خود را وارد نمایید" />
                &nbsp; &nbsp;
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-paper-plane"></i>
                    ارسال
                </button>
            </div>
           
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
