@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "تایید حساب کاربری";
}

<header class="text-right mt-5">
    <div class="alert alert-success">
        <h5>
            <i class="fas fa-3x fa-user-check align-middle"></i>

            حساب کاربری شما اکنون تایید گردیده است. حال می توانید وارد سایت گردید.
        </h5>
    </div>
</header>