@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تایید فراموشی کلمه عبور";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<h5 class="alert alert-success text-right">
    <i class="fas fa-check align-middle"></i>
    لطفاْ ایمیل خود را جهت بازنشانی کلمه عبور بررسی نمایید.
</h5>

