@page
@model LockoutModel
@{
    ViewData["Title"] = "حساب قفل شده";
}

<header class="text-right mt-5">
    <div class="alert alert-danger">
        <h5>
            <i class="fas fa-3x fa-lock align-middle"></i>
            این حساب قفل شده است؛ لطفاً بعداً وارد شوید یا با پشتیبانی در میان بگذارید.
        </h5>
    </div>
</header>