@page
@model LogoutModel
@{
    ViewData["Title"] = "خروج";
}

<header class="text-right mt-5">
    <div class="alert alert-danger">
        <h5>
            <i class="fa fa-3x fa-sign-out-alt align-middle"></i>
            شما از برنامه خارج شدید.
        </h5>
    </div>
</header>