@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام ";
}

@section Head{
    <link href="~/lib/md-persian-dp/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
}
<br class="my-3" />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-primary">
            <div class="card-header bg-primary">
                <h4 class="text-right">ثبت نام</h4>
            </div>
            <div class="card-body">
                <form method="post" class="text-right">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group form-row">
                        <div class="col-md">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-md" dir="ltr">
                            <label asp-for="Input.BirthDate"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text cursor-pointer" id="dtPickerTrigger" title="انتخاب">
                                        <i class="far fa-calendar-alt align-middle"></i>
                                    </span>
                                </div>
                                <input type="text" id="dtPicker" class="form-control">
                                <input asp-for="Input.BirthDate" type="text" style="width:0;height:0" class="border-0 p-0" />
                                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md">
                            <label asp-for="Input.IsMale"></label>
                            <select asp-for="Input.IsMale" class="form-control">
                                <option value="true">مرد</option>
                                <option value="false">زن</option>
                            </select>
                            <span asp-validation-for="Input.IsMale" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-md">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control text-left" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-md">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control text-left" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control text-left" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-user-plus align-middle"></i>
                            ثبت نام
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/md-persian-dp/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>

        $('#dtPickerTrigger').MdPersianDateTimePicker({
            targetTextSelector: '#dtPicker', 
            targetDateSelector: '#Input_BirthDate'
        });

    </script>
}
