@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تایید بازنشانی کلمه عبور";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<h5 class="alert alert-success text-right">
    <i class="fas fa-check align-middle"></i>
    کلمه عبور شما تغییر یافت. حال می توانید به سایت
    <a asp-page="./Login" class="btn btn-outline-secondary ">
        <i class="fas fa-sign-in-alt align-middle"></i>
        ورود
    </a>
    پیدا کنید.
</h5>
