@page
@model UnconfirmedUserModel
@{
    ViewData["Title"] = "حساب کاربری تایید نشده";
}

<header class="text-right mt-5">
    <div class="alert alert-success">
        <h5>
            کاربر گرامی؛
            <br />
            با تشکر از عضویت شما، خواهشمند است جهت تایید و فعالسازی حساب کاربری خود ، ابتدا به ایمیل خود مراجعه نموده و سپس بر روی لینک موجود در آن کلیک نمایید.
        </h5>
        <hr />

        <form method="post">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-paper-plane"></i>
                ارسال مجدد ایمیل فعال سازی
            </button>
        </form>
    </div>

    @if (ViewData["EmailStatus"] != null)
    {
        <hr />
        <div class="alert alert-warning">
            <h5>
                <i class="fas fa-check align-middle"></i>
                @ViewData["EmailStatus"]
            </h5>
        </div>
    }


</header>