@model DigiMovie.Models.Product

@{
    ViewData["Title"] = "افزودن محصول";
}
<br class="my-3" />
<h2 class="text-right">@ViewData["Title"] </h2>
<hr />
<form asp-action="Create">
@*<div asp-validation-summary="All"></div>*@
    <div class="form-group form-row">
        
        <div class="col-md-6 text-right">
            <label asp-for="Title" class="form-label">عنوان محصول :</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 text-right">
            <label asp-for="Price" class="form-label">قیمت (ریال) : </label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md-6 text-right my-auto">
            <input asp-for="IsExists" class="form-check-input" />
            <label asp-for="IsExists" class="form-check-label pr-3">کالا موجود است.</label>
        </div>
        <div class="col-md-6 text-right">
            <label asp-for="NumberInStock" class="form-label">تعداد موجود : </label>
            <input asp-for="NumberInStock" class="form-control" />
            <span asp-validation-for="NumberInStock" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md text-right">
            <label asp-for="Specification" class="form-label">مشخصات محصول : </label>
            <textarea asp-for="Specification" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Specification" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-md text-right">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-plus align-middle"></i>
                افزودن
            </button>
            <a asp-action="Index" class="btn btn-outline-dark">
                <i class="fas fa-share align-middle"></i>
                بازگشت به لیست محصولات
            </a>
        </div>
    </div>
</form>
@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
