@using Microsoft.AspNetCore.Identity

@inject SignInManager<DigiMovie.Areas.Identity.Data.ApplicationUser> SignInManager
@inject UserManager<DigiMovie.Areas.Identity.Data.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item pl-5">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link text-info">
            <i class="fa fa-user align-middle"></i>
            پنل کاربری
        </a>
    </li>
    <li><hr class="my-0 bg-light" /></li>
    <li class="nav-item pl-5">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
            <button type="submit" class="btn btn-link text-info pr-0">
                <i class="fa fa-sign-out-alt align-middle"></i>
                خروج
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item pl-5">
        <a asp-area="Identity" asp-page="/Account/Register" class="nav-link text-info">
            <i class="fas fa-user-plus align-middle"></i>
            ثبت نام
        </a>
    </li>
    <li><hr class="my-0 bg-light" /></li>
    <li class="nav-item pl-5">
        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link text-info">
            <i class="fas fa-sign-in-alt align-middle"></i>
            ورود
        </a>
    </li>
}