@using Microsoft.AspNetCore.Identity

@inject SignInManager<DigiMovie.Areas.Identity.Data.ApplicationUser> SignInManager
@inject UserManager<DigiMovie.Areas.Identity.Data.ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown pl-5">
        <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#">
            <i class="fas fa-tasks align-middle"></i>
            پنل مدیریتی 
        </a>
        <div class="dropdown-menu text-right">
            <a class="dropdown-item text-info" asp-controller="Categories" asp-action="Index">
                <i class="fas fa-th-large align-middle"></i>
                دسته بندی ها
            </a>
            <a class="dropdown-item text-info" asp-controller="Products" asp-action="Index">
                <i class="fas fa-box-open align-middle"></i>
                محصولات
            </a>
            <a class="dropdown-item text-info" asp-controller="Messages" asp-action="Index">
                <i class="fas fa-envelope align-middle"></i>
                پیام ها
            </a>
            <a class="dropdown-item text-info" asp-controller="Roles" asp-action="Index">
                <i class="fas fa-user-circle align-middle"></i>
                نقش ها
            </a>
        </div>
    </li>
    <li><hr class="my-0 bg-light" /></li>
}


