@model ErrorViewModel
@{
    ViewData["Title"] = "خطا";
}

@section Head{ 
    <meta name="description" content="وب سایت دیجی مووی برترین وب سایت در زمینه فیلم و سریال - @ViewData["Title"]" />
}

<h1 class="text-danger">صفحه خطا</h1>
<h2 class="text-danger">با عرض پوزش ، متاسفانه در حین اجرای درخواست شما یک خطایی رخ داده است.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>شناسه درخواست :</strong> <code>@Model.RequestId</code>
    </p>
}
